.precioDestacado {
  color: #3333cb;
  font-size: 25px;
  font-weight: bold;
}

.sombreado {
  box-shadow: 0px 0px 10px rgba(95, 95, 95, 0.774);
}

.amarillo {
  background-color: #fec41d;
}

.rosa {
  background-color: #ff96d3;
}

.verde {
  background-color: #00ddb5;
}

.custom-button {
  background-color: white;
  color: #3333cb;
  font-family: "Abril Fatface", cursive;
}
